body {
    background-color: black;
}
.jumbotron h1{
    color: white;
}
.jumbotron{
    padding-top: 1%;
    background-color: transparent !important;
}

img {
    margin-top: 5%;
    width: 14%;
}

.submitFont{
    color: green;
}